<div class="joy-zone" data-testid="joystick-move">
  <div class="joy-stick-slot">
    <app-virtual-joystick
      [ariaLabel]="'Déplacer le personnage'"
      [walkRunRings]="true"
      (vectorChange)="onVector($event)"
    />
  </div>
  <svg class="joy-arc" viewBox="0 0 112 32" aria-hidden="true">
    <defs>
      <path id="joy-arc-move" d="M 14 8 A 42 18 0 0 0 98 8" />
    </defs>
    <text>
      <textPath href="#joy-arc-move" startOffset="50%" text-anchor="middle">
        MOVE
      </textPath>
    </text>
  </svg>
</div>
