<div class="chain-graph" role="img" [attr.aria-label]="'Graphe de ' + layoutNodes().length + ' blocs'">
  <div class="chain-graph__scroll">
    <svg
      class="chain-graph__svg"
      [attr.viewBox]="'0 0 ' + graphWidth() + ' 88'"
      [attr.width]="graphWidth()"
      height="88"
      preserveAspectRatio="xMinYMid meet"
      aria-hidden="false"
    >
      @for (segment of linkSegments(); track $index) {
        <line
          class="chain-graph__link"
          [attr.x1]="segment.x1"
          [attr.y1]="segment.y1"
          [attr.x2]="segment.x2"
          [attr.y2]="segment.y2"
        />
      }

      @for (node of layoutNodes(); track node.block.index) {
        <g
          class="chain-graph__node"
          [class.is-tip]="node.isTip"
          role="button"
          tabindex="0"
          [attr.aria-label]="'Ouvrir le bloc #' + node.block.index"
          (click)="openBlock(node.block)"
          (keydown.enter)="openBlock(node.block)"
          (keydown.space)="$event.preventDefault(); openBlock(node.block)"
        >
          <circle
            class="chain-graph__node-hit"
            [attr.cx]="node.x"
            [attr.cy]="node.y"
            r="20"
          />
          <circle
            class="chain-graph__node-circle"
            [attr.cx]="node.x"
            [attr.cy]="node.y"
            r="16"
          />
          <text class="chain-graph__node-index" [attr.x]="node.x" [attr.y]="node.y + 3">
            {{ node.block.index }}
          </text>
          <text class="chain-graph__node-hash" [attr.x]="node.x" [attr.y]="node.y + 28">
            {{ shortHash(node.block.hash) }}
          </text>
        </g>
      }
    </svg>
  </div>
</div>
